<div class="cont">
  <nav>
    <h1>Bienvenido a Bamboohr</h1>
    <img src="https://i.ibb.co/23D3vPC/log-out.png" alt="log-out" class="logOut" (click)="logout()">
  </nav>
  <main>
    <h1>Saldo en tu cuenta</h1>
    <div class="services">
        <button class="bt-list"  [routerLink]="['/credit']">Solicitar Credito</button>
        <button class="bt-list"  [routerLink]="['/list-credit']">Creditos Solcitados</button>
        <button class="bt-list"  [routerLink]="['/banco']">banco</button>
    </div>
  </main>

</div>
